.main{
    margin: 10px 0;
}
/* Start Course Info Styles */
.course-info .row{
    text-align: start;
}
.course-info__link {
    font-size: 1.2rem;
    color: var(--primary-color);
    border-radius: 0.3rem;
    padding: 0.4rem 1rem;
    background-color: rgba(43, 206, 86, 0.2);
    border-radius: 2rem;
}

.course-info__social-media{
    text-align: start;
}

.course-info__social-media-item {
    color: var(--primary-color);
    margin-left: 1.7rem;
    transition: all 400ms ease;
}

.course-info__icon {
    font-size: 2rem;
}

.course-info__icon:hover{
    color: var(--secondary-color);
}

.course-info__video {
    width: 100%;
    border-radius: 2rem;
}

/* Finish Course Info Styles */

/* Start Course Progress Styles */

.course-progress {
    border-radius: 1rem;
    margin: 3rem 0;
    padding: 2rem 2rem 1.2rem 2rem;
    background-color: #f0f2f7;
}

.course-progress__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.course-progress__icon {
    font-size: 2.5rem;
    color: #7b868a;
}

.course-progress__title {
    margin-right: 1.5rem;
    color: #7b868a;
    font-size: 1.5rem;
}

.course-progress__bar {
    border-radius: 10rem;
    height: 1rem;
}

.progress-bar {
    background-color: #1fbd50;
}

/* Finish Course Progress Styles */

/* Start Introduction styles */

.introduction {
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 13px 1px var(--shadow-color);
}

.introduction__item{
    text-align: start;
    margin-top: 10px;
}

.introduction__img {
    margin: 3rem 0;
    display: block;
    border-radius: 2rem;
}

.introduction__text {
    margin-top: 2rem;
    color: #7a7a7a;
    font-size: 1.5rem;
}

.introduction__btns {
    margin-top: 4rem;
}

.introduction__btns-item {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 5px;
}

.introduction__btns-item:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.introduction__topic {
    margin-top: 4rem;
}

.accordion {
    margin-bottom: 2rem;
}

.accordion-item {
    background-color: #f7f9fa;
    margin-bottom: 2rem;
}

.accordion-button {
    background-color: var(--primary-color) !important;
    font-size: 2rem;
    padding: 1.25rem;
    font-family: var(--main-font-bold);
    color: #fff !important;
}

.accordion-button:not(.collapsed) {
    background-color: #f7f9fa;
}

.accordion-button::after {
    position: absolute;
    display: block;
    left: 1.5rem;
    background-position: center;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
}

.introduction__accordion-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.25rem;
}

.introduction__accordion-right {
    display: flex;
    align-items: center;
}

.introduction__accordion-count {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #bfbfbf;
    color: var(--anty-body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.introduction__accordion-icon {
    margin: 0 1.5rem;
    color: var(--primary-color);
    font-size: 1.8rem;
}

.introduction__accordion-link {
    color: var(--anty-body-color);
}

.introduction__accordion-time {
    color: var(--anty-body-color);
}

.introduction__accordion-icon-lock{
    color: var(--anty-body-color);
}

/* Finish Introduction styles */

/* Start Teacher Details Styles */

.techer-details {
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--shadow-color);
    padding: 2rem;
    margin-top: 2rem;
    text-align: start;
}

.techer-details__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.techer-details__header-right {
    display: flex;
    align-items: center;
}

.techer-details__header-img {
    width: 62px;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 20px #00000021;
}

.techer-details__header-titles {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    gap: 1rem;
}

.techer-details__header-link {
    text-decoration: none;
    color: var(--text-color);
}

.techer-details__header-skill {
    color: var(--text-color-light);
    font-size: 1.2rem;
}

.techer-details__header-left {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.techer-details__header-icon {
    font-size: 1.8rem;
}

.techer-details__header-name {
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 0.4rem;
}

.techer-details__footer {
    margin-top: 1rem;
    color: var(--text-color-light) !important;
    font-size: 14px;
}

/* Finish Teacher Details Styles */


/* Start Sidebar Styles */

.course-info__register {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--shadow-color);
}

.course-info__register-title {
    font-size: 1.7rem;
    color: #fff;
    font-weight: bold;
}

.course-info__register-icon {
    font-size: 2rem;
}

.course-info__top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 2rem;
    border: 2px solid #f0f2f7;
}

.course-info__total-sale-icon {
    color: var(--primary-color);
    font-size: 2.7rem;
}

.course-info__total-sale-text {
    color: #7f8187;
}

.course-info__total-sale-number {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.3rem 1.2rem;
}

.course-info__bottom {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    color: #7b868a;
}

.course-info__total-comment, .course-info__total-view {
    position: relative;
    display: flex;
    align-items: center;
}

.course-info__total-comment::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #e5e5e5;
    left: -3rem;
}

.course-info__total-comment-icon, .course-info__total-view-icon {
    font-size: 2.2rem;
    color: var(--primary-color);
}

.course-info__total-comment-text, .course-info__total-view-text {
    font-size: 1.4rem;
    margin-right: 1rem;
}

.course-info__header-short-url {
    display: flex;
    align-items: center;
    color: #7b868a;
}

.course-info__short-url-icon {
    font-size: 2rem;
    color: var(--primary-color);
}

.course-info__short-url-text {
    font-size: 1.7rem;
    margin-right: 0.5rem;
    color: var(--anty-body-color);
}

.course-info__short-url {
    display: block;
    margin: 1rem 0;
    border: 1px solid #dcdcdc;
    color: #a7a7a7;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
}


/* Finish Sidebar Styles */

/* Start Slider CourseBox */

.courses-info {
    position: sticky;
    top: 2rem;
}

.course-info {
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 2.2rem;
    box-shadow: 0 0 13px 1px var(--shadow-color);
    text-align: start;
}

.course-info__topic-title {
    display: block;
    color: var(--text-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.course-info__topic-text {
    font-size: 1.5rem;
    color: #7d7e7f;
}

.course-info__courses-title {
    font-size: 1.8rem;
    display: block;
    color: var(--anty-body-color);
    margin-bottom: 1.5rem;
}

.course-info__courses-list-item {
    margin-bottom: 2rem;
}

.course-info__courses-link {
    display: flex;
    align-items: center;
}

.course-info__courses-img {
    width: 70px;
    border-radius: 0.5rem;
}

.course-info__courses-text {
    font-size: 1.3rem;
    margin-right: 0.8rem;
    color: #8d8d8d;
    font-weight: bold;
}

.course-long-description {
    margin: 5rem 0;
}

.course-long-description h2,
.course-long-description h3,
.course-long-description h4,
.course-long-description h5,
.course-long-description h6{
    color: var(--primary-color);
    font-weight: bold;
    line-height: 1.3;
}

.course-long-description h2{
    margin: 2rem 0;
    font-size: 2.4rem;
}

.course-long-description h3{
    margin: 1.5rem 0;
    font-size: 2.2rem;
}

.course-long-description h4,
.course-long-description h5,
.course-long-description h6{
    margin : 1rem 0;
    font-size: 1.9rem;
}

.course-long-description p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 2;
    text-align: justify;
}

.course-long-description ul{
    margin-bottom: 1rem;
}

.course-long-description ul li{
    list-style-position: inside;
    list-style-type: disc;
    margin: 0.5rem 0;
    color: var(--anty-body-color);
}

.course-long-description img ,.introduction-img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 2rem;
}

.accordion-item{
    background-color: var(--course-box-color) !important;
}


/* Finish Slider CourseBox */